.hidden {
    display:none;
}
body {
    background-color: #455168;
    color: #FFFFFF;
}
.card {
    background-color:#586fa2;
    color: #FFFFFF;
    }
.card-header {
    background-color:#2b4276;
    color: #FFFFFF;
}
.card-body {
    /* background-color: #21355f; */
    color: #FFFFFF;
}

.card .nav-item  {
    background-color: #335cb6;
}

.card .nav-item .nav-link {
    color:white !important;
}
.card .nav-item .nav-link.active {
    color:black !important;
}   
.navbar {
    background-color: #007bff;
    color:white;

}
.results-container {
    display: flex;
    flex-direction:row;
    flex-basis:20%;
}
.meme-item {
    display: flex;
    flex-grow:  1;
    flex-direction: column;
    margin-top:15px;
    padding-top:15px;
    background-color:#335cb6;
    border-radius:25px;
}
.results-item {
    display: flex;
    flex-direction: column;
    margin-top:15px;
    padding-top:15px;
    background-color:#335cb6;
    border-radius:25px; 
    flex-basis:300px;
    flex-grow:1;
    align-items: center;
}
.to-details {
    display:flex;
    justify-content: center;
}
.results-meme {
    display:flex;
    width:200px;
    height:200px;
    object-fit:contain;
    text-align:center;
}
.meme-item-body {
    flex: 1;
    flex-direction: column;
    display: flex;
    padding-top:15px;
    background-color:#131a2b;
    color:white;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    justify-content: space-evenly;
}
.results-item-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color:#131a2b;
    color:white;
    align-items:center;
    justify-content: center;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    padding-bottom:25px;
    padding-top:25px;
    padding-left:10px;
    margin-bottom:10px;
    width:100%;
}
.user-stats {
    text-align: center;
}
.back-btn {
    display:flex;
    justify-content: center;
    width:fit-content;
    margin-bottom:20px;
}
.min-height-item {
    min-height:400px;
}
.item-header {
    min-height:50px;
}
.winning-container {
    height:100%;
    width:100%;
    margin-bottom:15px;
}
.card-img-top {
    border-radius:15px;
}

.carousel-inner .carousel-item {
    transition: transform 0.6s ease-in;
    display: flex;
    justify-content: center;
}

.carousel-inner .card {
    width: 100%;
    max-width: 300px;
}
.participants-box {
    border-top: lightgrey solid;
    border-bottom: lightgrey solid;
    border-width: 0.3px
}
.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-width:0;
}

.square-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
}
.current-meme {
    width: 100%;
    height: auto;
    max-width: 500px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the image horizontally */
}

.bi-x {
    color: red;
    font-size: 1.5rem;
}

.vote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.vote-radio {
    display: none;
}

.vote-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgray;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.vote-label:hover {
    background-color: lightgray;
}

.vote-radio:checked+.vote-label {
    background-color: #007bff;
    color: white;
}

#next-meme-btn {
    width:100%;
}

#snackbar {
    visibility: hidden;
    min-width: 100%;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 45px;
    transform: translateX(-50%);
    }

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 45px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        top: 45px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}


.image-zoom {
    position: relative;
    display: inline-block;
  }
  
  .image-zoom img {
    cursor: zoom-in;
    transition: transform 0.3s;
  }
  
  .image-zoom.zoom-in img {
    cursor: zoom-out;
    border: 1px solid black;
  }

.carousel-fade .carousel-item {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
}

.carousel-fade .carousel-item.active {
    opacity: 1;
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item-next.carousel-item-right,
.carousel-fade .carousel-item-prev.carousel-item-left {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active.carousel-item-left,
.carousel-fade .carousel-item.active.carousel-item-right {
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control-prev,
.carousel-fade .carousel-control-next {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-fade:hover .carousel-control-prev,
.carousel-fade:hover .carousel-control-next {
    opacity: 1;
}
#button-div {
    position:absolute;
    display:none;
}
#tiebreaker-images{
    flex-wrap: wrap;
    display:flex;
}
.tiebreaker-image {
    border-radius: 20px;
    object-fit: contain;
    width:100%;
    height:100%;
    border: 0; /* Remove any default border if present */
}

.selected-tiebreaker-image, .tiebreaker-image:hover {
    border: 5px solid rgb(255, 0, 0);
    cursor: pointer;
    box-sizing: border-box;
}

.tiebreaker-image-div {
    background-color: white;
    flex-basis:33%;
    margin:10px;
    border-radius: 20px;
    object-fit: contain;
}

.tiebreaker-image-div:hover {
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    box-sizing: border-box;

}

.hide {
    display: none;
}
.title-text:hover + .hide {
    display: inline;
}



/* Add custom styles for the meme cards */
.image-card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.image-card:hover {
    transform: scale(1.05);
}

/* Style for the competition theme and score details */
.card-details {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s;
    opacity: 0; /* Initially hidden */
}

.image-card:hover .card-details {
    opacity: 1; /* Show on hover */
}

#meme-container {
    height:500px;
}

.image-modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Darkened background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 55%; /* Adjust as needed */
    max-height: 80vh; /* Adjust as needed */
    overflow: hidden;
    display: flex; /* To center the image */
    justify-content: center;
    align-items: center;
}

.modal-content img {
    width: 500px; 
    height: 500px;
}
#zoomedImage {
    object-fit: contain;
    background: transparent;
}

.results-item-body p {
    font-size:larger;
    padding-bottom:15px;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.meme-footer {
    display: flex;
    justify-content: end;
    padding:8px;
}