{% load websocket_tags %}


<div 
    id="comp-info-card"
    class="col-lg-3 col-12 text-center mb-2"
    style="height:fit-content"
>
    <div class="card shadow">
        <div class="card-header">
            <h2>{{ competition.theme }}</h2>
            <small>Hosted by {{ competition.owner }}</small>
            <div class="input-group my-2" style="z-index:0">
                <input id="room-url"
                        type="text"
                        class="form-control form-control-sm"
                        value="ID: {{ competition.name }}"
                        disabled>
                <button class="btn btn-primary" onclick="copyLink()">
                    Copy
                </button>
            </div>
            <small id="num_memes">
                {{ competition.num_memes }} meme{{ competition.num_memes|pluralize }} submitted by {{ competition.num_uploaders }} {{ competition.num_uploaders|pluralize:'person,people' }}
            </small>
        </div>
        <div class="card-body">
            <!-- event log has been disabled for now -->
            <!-- will add it back later maybe -->
            <!-- <div class="row mb-3">
                {% load competition_tags %}
                {% event_log_offcanvas competition %}
            </div> -->

            <div class="row">
                <button class="toggle-btn btn btn-light btn-sm text-center"
                        type="button"
                        onclick="toggleShow('.participants-box')">
                    Participants &nbsp;<span id="num-participants">({{ competition.num_participants }})</span>
                </button>
                <div class="overflow-auto participants-box p-1 collapse" style="max-height: 200px;">
                    <ul id="participants" class="list-group text-start">
                        {% for participant in competition.sorted_participants %}
                            {% participant_li participant.id %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row text-center">
                {% if user == competition.owner %}
                    <div class="d-flex justify-content-between mt-3">
                        <button id="start-comp-btn"
                                class="btn btn-success"
                                style="width:100%"
                                {% if not competition.unstarted %}disabled{% endif %}>
                            {% if competition.unstarted %}
                                Start competition
                            {% else %}
                                Competition started
                            {% endif %}
                        </button>
                        <button id="cancel-comp-btn"
                                class="btn btn-danger"
                                onclick="cancelCompetition('{{competition.name}}')"
                                {% if competition.unstarted %}disabled{% endif %}>
                            <i class="bi bi-x-square"></i>
                        </button>
                    </div>
                    <p>
                        <button id="next-meme-btn"
                                class="btn btn-primary mx-auto mt-3 col-6"
                                onclick="advanceCompetition('{{competition.name}}')"
                                {% if not competition.started %}style="display:none"{% endif %}>
                            Next meme
                        </button>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $('#start-comp-btn').on('click', () => {
        startCompetition('{{competition.name}}');
    })

    function toggleShow(cls) {
		const box = $(cls);
		if(box.hasClass('collapse')) {
			box.removeClass('collapse')
		} else {
			box.addClass('collapse')
		}
	}
	
	function copyLink() {
		// Get the text field
		var compLink = window.location.host + "{% url 'competition' competition.name %}";
		navigator.clipboard.writeText(compLink)
		console.log('copied', compLink)

		// Copy the text inside the text field
		// Alert the copied text
		showSnackbar("Competition URL has been copied", 'primary');
	}

	

</script>