{% load websocket_tags %}

<div id="comp-finished" class="col row g-0" {% if not competition.finished %}style="display:none" {% endif %}>
    <div class="card shadow">
        <div class="card-header">
            <div class="card-title">
                <div class="d-flex justify-content-evenly align-items-center">
                    <a href="{% url 'competition_memes' competition.name %}" class="btn btn-sm btn-primary">
                        All Memes
                    </a>
                <h2>Competition Results</h2>
                <a href="{% url 'competition_results' competition.name %}"
                class="btn btn-sm btn-primary">Detailed Results</a>
                </div>
            </div>
            <div class="d-flex justify-content-evenly">
                
               
            </div>
        </div>
        <div class="card-body g-0">
            {% if competition.winning_meme and competition.finished %}

            <div class="row results-container justify-content-center">
                <div id="winning-meme" class="shadow col-lg-5 col-12 m-2 meme-item min-height-item">
                        {% winning_meme_div competition %}
                </div>
                    {% comp_results_div competition %}
            </div>
            {% endif %}
        </div>
    </div>
</div>


<script>
    $(document).on('competitionFinished', (e, data) => {
        console.log('Competition has finished');
        $('#comp-timer').css('display','none');
        $('#comp-info-card').css('display', '');	
        $("#comp-started").css('display', 'none');
        $("#comp-waiting").css('display', 'none');
        $("#comp-tiebreaker").css('display', 'none');
        $("#comp-finished").css('display', '');

        $("#next-meme-btn").css('display', 'none');
        showSnackbar('Competition has finished', 'info')

        $('#winning-meme').html(data.winning_html);
        $('#statistics').html(data.results_html);

        
    });
</script>