<div 
    id="comp-info-card"
    class="col-lg-3 col-12 text-center mb-2"
    style="height:fit-content"
>
    <div class="card shadow">
        <div class="card-header">
            <h2>{{ competition.theme }}</h2>
            <small class="card-title">Hosted by {{ competition.owner }}</small>
        </div>
        <div class="card-title">
            <div class="row mx-1 my-3">
                <div class="input-group" style="z-index:0">
                    <input id="room-url"
                            type="text"
                            class="form-control"
                            value="ID: {{ competition.name }}"
                            disabled>
                    <button class="btn btn-primary" onclick="copyLink()">Copy</button>
                </div>
            </div>
            <div class="row">
                <p id="num_memes">
                    {{ competition.num_memes }} meme{{ competition.num_memes|pluralize }} submitted by {{ competition.num_uploaders }} {{ competition.num_uploaders|pluralize:'person,people' }}
                </p>
            </div>
        </div>
        <div class="card-body">
            <div class="row mx-1">
                <button class="btn btn-light btn-sm d-flex justify-content-center"
                        type="button"
                        onclick="toggleShowParticipants()">
                    Participants &nbsp;<span id="num-participants">({{ competition.num_participants }})</span>
                </button>
                <div class="overflow-auto participants-box p-1" style="max-height: 200px;">
                    <ul id="participants" class="list-group">
                        {% for part in competition.sorted_participants %}
                        <li class="list-group-item" data-participant-id="{{ part.id }}" data-is-host="{% if part.user == competition.owner %}true{% endif %}">
                            <div class="d-flex justify-content-center align-items-center">
                                <span style="text-align:center; width:100%" title="{{ part.name }}">
                                    <a target="_blank" style="width:100%" class="btn btn-outline-dark" href="{% url 'user' part.user.id %}">{{ part.name|truncatechars:10 }}</a>
                                </span>
                                <span style="text-align:end">
                                    <!-- Add an empty <i> element for the icon with a unique ID -->
                                    <i id="icon-{{ part.id }}" class="m-3 bi {% if part.ready %}bi-check-circle-fill text-success{% else %}bi-x-circle-fill text-danger{% endif %}"></i>
                                </span>
                            </div>
                        </li>                        
                        
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row text-center">
                {% if user == competition.owner %}
                    <div class="d-flex justify-content-between mt-3">
                        <button id="start-comp-btn"
                                class="btn btn-success"
                                style="width:100%"
                                onclick="startCompetition()"
                                {% if competition.started %}disabled{% endif %}>
                            {% if competition.started %}
                                Competition started
                            {% else %}
                                Start Competition
                            {% endif %}
                        </button>
                        <button id="cancel-comp-btn"
                                class="btn btn-danger"
                                onclick="cancelCompetition()"
                                {% if not competition.started %}disabled{% endif %}>
                            <i class="bi bi-x-square"></i>
                        </button>
                    </div>
                    <p>
                        <button id="next-meme-btn"
                                class="btn btn-primary mx-auto mt-3 col-6"
                                onclick="advanceCompetition()"
                                {% if not competition.started or competition.finished %}style="display:none"{% endif %}>
                            Next meme
                        </button>
                    </p>
                {% else %}
                    <p>
                        <button id="readyup-btn"
                                class="btn btn-success mx-auto mt-3 col-6"
                                onclick="readyUp()"
                                style="width:100%"
                                {% if competition.finished or participant.ready %}disabled{% endif %}>
                            Ready
                        </button>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    function toggleShowParticipants() {
		const box = $('.participants-box');
		if(box.hasClass('collapse')) {
			box.removeClass('collapse')
		} else {
			box.addClass('collapse')
		}
	}
	
	function copyLink() {
		// Get the text field
		var compLink = window.location.host + "{% url 'competition' competition.name %}";
		navigator.clipboard.writeText(compLink)
		console.log('copied', compLink)

		// Copy the text inside the text field
		// Alert the copied text
		showSnackbar("Competition URL has been copied", 'primary');
	}

    function readyUp() {
        $.ajax({
			url: "{% url 'readyup_participant' participant.id %}",
			type: "POST",
			data: {},
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
			},
			error: function (xhr, status, error) {
				showSnackbar('Failed to ready up...', 'danger');
			}
		});
        $('#readyup-btn').prop('disabled', true)
    }

    	// load next meme via AJAX
	function advanceCompetition() {
		$.ajax({
			url: "{% url 'advance_competition' competition.name %}",
			type: "POST",
			data: {},
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
			},
			error: function (xhr, status, error) {
				showSnackbar('Unable to advance competition', 'danger');
			}
		});
	}
    	// restart the competition via AJAX
	function cancelCompetition() {
		var cancelCheck = 'Are you sure you want to cancel the competition? This will erase all votes.'

		if(!confirm(cancelCheck)) {
			return
		}
		$.ajax({
			url: "{% url 'cancel_competition' competition.name %}",
			type: "POST",
			data: {},
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
				// Handle success response
				// Update necessary elements
				$('#start-comp-btn').attr('disabled', false);
				$('#cancel-comp-btn').attr('disabled', true);
				$('#start-comp-btn').text('Start Competition');
				$("#next-meme-btn").css('display', 'none');

			},
			error: function (xhr, status, error) {
				showSnackbar('Unable to cancel competition', 'danger');
			}
		});
	}
    	// Start competition via AJAX
	function startCompetition() {
		$.ajax({
			url: "{% url 'start_competition' competition.name %}",
			type: "POST",
			data: {},
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
				// Handle success response
				// Update necessary elements
				$('#start-comp-btn').attr('disabled', true);
				$('#cancel-comp-btn').attr('disabled', false);
				$('#start-comp-btn').text('Competition started');
				$("#next-meme-btn").css('display', 'inline');
			},
			error: function (xhr, status, error) {
				showSnackbar(xhr.responseJSON.detail, 'danger')
			}
		});
	}

</script>