{% load websocket_tags %}
<div id="comp-started" class="col text-center" 
{% if not competition.started or not competition.current_meme %}
    style="display:none" 
    {% endif %}>
    <div class="vote-container">
        <div class="card shadow" style="width:100%">
            <div class="card-header">
                <div class="card-title">
                    <div class="d-flex align-items-center justify-content-around">
                        <h4 id="meme-ctr">
                            Meme {{ competition.meme_ctr }}/{{ competition.num_memes }}
                        </h4>
                        <div class="d-flex justify-content-center align-items-center">
                            <div id="fill-div"></div>
                            <button title="Refresh your emoji choices" onclick="createEmojiBtns()" id="refresh-emojis"
                                class="btn btn-sm btn-dark"><i class="bi bi-arrow-clockwise"></i></button>

                            {% emoji_div %}

                        </div>
                        <h4>
                            Total votes:
                            <span id="num_votes">
                                {% if competition.current_meme %}
                                {{ competition.current_meme.num_votes }}
                                {% endif %}
                            </span>
                        </h4>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <form id="vote-form">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input vote-radio" type="radio" name="vote" id="vote-option0"
                                    value="0">
                                <label class="form-check-label vote-label" for="vote-option0">0</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input vote-radio" type="radio" name="vote" id="vote-option1"
                                    value="1">
                                <label class="form-check-label vote-label" for="vote-option1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input vote-radio" type="radio" name="vote" id="vote-option2"
                                    value="2">
                                <label class="form-check-label vote-label" for="vote-option2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input vote-radio" type="radio" name="vote" id="vote-option3"
                                    value="3">
                                <label class="form-check-label vote-label" for="vote-option3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input vote-radio" type="radio" name="vote" id="vote-option4"
                                    value="4">
                                <label class="form-check-label vote-label" for="vote-option4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input vote-radio" type="radio" name="vote" id="vote-option5"
                                    value="5">
                                <label class="form-check-label vote-label" for="vote-option5">5</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="g-0 image-zoom">
                <div id="emoji"></div>

                <img id="current-meme-image" 
                {% if competition.started and competition.current_meme %}
                    src="/competition/{{ competition.name }}/memes/{{ competition.current_meme.id }}"
                     {% endif %}
                    alt="Current Meme" class="current-meme" onclick="toggleZoom(event)" onmouseleave="zoomOut(event)" />

            </div>
        </div>
    </div>
</div>

<script>
    $('input[type=radio][name=vote]').on('change', function () {
        const memeId = $(this).data('meme-id');
        submitVote("{{competition.name}}");
    });

    function toggleZoom(event) {
        var img = event.target;
        var container = img.parentNode;

        if (container.classList.contains("zoom-in")) {
            zoomOut(event);
        } else {
            zoomIn(event);
        }
    }

    function zoomIn(event) {
        var img = event.target;
        var container = img.parentNode;

        var rect = img.getBoundingClientRect();
        var offsetX = event.clientX - rect.left;
        var offsetY = event.clientY - rect.top;

        var zoomRatio = 2; // Adjust the zoom level as desired

        container.classList.add("zoom-in");
        container.classList.remove("zoom-out");

        img.style.transformOrigin = offsetX + "px " + offsetY + "px";
        img.style.transform = "scale(" + zoomRatio + ")";
    }

    function zoomOut(event) {
        var img = event.target;
        var container = img.parentNode;

        container.classList.add("zoom-out");
        container.classList.remove("zoom-in");
        img.style.transform = "scale(1)";
    }

</script>