<div id="comp-waiting" class="col" {% if competition.started or competition.finished %}style="display:none" {% endif %}>
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title">Memes</h4>
        </div>
        <div class="row mt-2">
            <h5 class="card-title">Upload your memes</h5>

            <form id="upload-form" enctype="multipart/form-data" onchange="submitMeme('{{competition.name}}')">
                {% csrf_token %}
                <div class="mb-3 row g-0">
                    <div class="col-1">
                        <div id="meme-spinner" class="spinner-border" role="status" style="display:none">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <input multiple type="file" name="image" class="form-control" id="image" required />
                    </div>
                    <div class="col-1">
                        <input type="hidden" name="participant" value="{{ participant.id }}">
                        <input type="hidden" name="competition" value="{{ competition.id }}">
                    </div>
                </div>
            </form>
        </div>
        <div id="memes-body" class="card-body" {% if not participant.memes.count %} style="display: none" {% endif%}>  
            <div class="d-flex align-items-center" title="Confirm before you delete your memes">
                <i class="ms-auto bi bi-lock-fill"></i><input class="form-check-input" type="checkbox" id="delete-safety" checked>
            </div>    
            <div class="row mt-3 mx-2 pt-2" id="submitted-memes-container" style="height:475px; overflow-y:scroll">
                {% for meme in participant.memes.all %}
                <div id="meme-{{ meme.id }}" class="meme col-md-4 col-sm-6 col-12 mb-4">
                    <div class="card image-card">
                        <div class="image-container">
                            <img src="{% if not competition.started %}{% url 'serve_file' competition.name meme.id %}{% endif %}" alt="One of your dank memes" class="square-image d-block" />
                        </div>
                        <div class="card-details">
                            <button type="button" class="btn btn-sm btn-danger delete-button" onclick="deleteMeme(this)" data-meme-id="{{ meme.id }}">Delete</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    var deleteSafety = $('#delete-safety').is(':checked');


    $('#delete-safety').on('change', function (event) {
        // Toggle the deleteSafety variable based on the checkbox state
        deleteSafety = $(this).is(':checked');

    });
        

    $('#upload-form').on('submit', function (event) {
        event.preventDefault();
        submitMeme("{{competition.name}}");
    });
</script>