<div id="comp-waiting" class="col" {% if competition.started or competition.finished %}style="display:none" {% endif %}>
    <div class="card shadow">
        <div class="card-header">
            <h4 class="card-title">Memes</h4>
        </div>
        <div class="row mt-2 mx-2">
            <h5 class="card-title">Upload your memes</h5>

            <form id="upload-form" enctype="multipart/form-data" onchange="submitMeme()">
                {% csrf_token %}
                <div class="mb-3 row g-0">
                    <div class="col-1">
                        <div id="meme-spinner" class="spinner-border" role="status" style="display:none">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <input multiple type="file" name="image" class="form-control" id="image" required />
                    </div>
                    <div class="col-1">
                        <input type="hidden" name="participant" value="{{ participant.id }}">
                        <input type="hidden" name="competition" value="{{ competition.id }}">
                    </div>
                </div>
            </form>
        </div>
        <small id="your-memes" class="mb-2">You have submitted {{participant.memes.all|length}}
            meme{{participant.memes.all|pluralize}}</small>
        <div class="card-body">
            <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel"
                data-bs-interval="false">
                <div class="carousel-inner" id="submitted-memes-container">
                    {% for meme in participant.memes.all %}
                    <div id="meme-{{ meme.id }}" class="item carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="card image-card">
                            <div class="image-container">
                                <img {% if not competition.started and not competition.finished %}
                                    src="{% url 'serve_file' competition.name meme.id %}" {% endif %}
                                    alt="One of your dank memes" class="square-image d-block" />
                                <button type="submit" class="btn btn-sm btn-danger delete-button"
                                    onclick="deleteMeme(this)" data-meme-id="{{ meme.id }}">Delete</button>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
                <div id="carousel-controls">
                    <button style="background-color:black" class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button style="background-color:black" class="carousel-control-next" type="button"
                        data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#carouselExample').on('slide.bs.carousel', function (e) {
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 1;
            var totalItems = $('.carousel-item').length;

            if (idx >= totalItems - (itemsPerSlide - 1)) {
                var it = itemsPerSlide - (totalItems - idx);
                for (var i = 0; i < it; i++) {
                    if (e.direction == "left") {
                        $('.carousel-item').eq(i).appendTo('.carousel-inner');
                    }
                    else {
                        $('.carousel-item').eq(0).appendTo('.carousel-inner');
                    }
                }
            }
        });
    });
    $('#upload-form').on('submit', function (event) {
        event.preventDefault();
        submitMeme();
    });

    // Submit meme via AJAX
    function submitMeme() {
        $('#meme-spinner').css('display', '');

        var form = document.getElementById("upload-form");
        var formData = new FormData(form);

        $.ajax({
            url: "{% url 'meme_upload' comp_name=competition.name %}",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                // Handle success response
                // Clear the input field
                $('#image').val('');
                // Load submitted memes
                if (Math.random() < 0.01) {
                    showSnackbar("lol that's a good one", "success");
                } else {
                    showSnackbar('Meme uploaded', 'success');
                }
                memeSubmitted(response);
            },
            error: function (xhr, status, error) {
                if (xhr.status === 403) {
                    showSnackbar(xhr.responseJSON.detail, 'danger')
                } else {
                    showSnackbar('Error uploading your meme :(', 'danger')
                }
            }
        }).then(() => {
            $('#meme-spinner').css('display', 'none');
        });
    }

    // load the submitted meme onto the page
    function memeSubmitted(id_list) {
        var actualLength = 0;
        for (i = 0; i < id_list.length; i++) {
            var id = id_list[i];
            var memes = $("#submitted-memes-container").find('.item');
            if (memes.length >= 1) {
                $('#carousel-controls').css('display', 'inline')
            }
            var current = $("#submitted-memes-container").find('.active').first();
            current.removeClass('active');
            element = `
            <div id="meme-${id}" class="item carousel-item active">
                <div class="card image-card">
                    <div class="image-container">
                        <img src="/competition/{{competition.name}}/memes/${id}" alt="Dank memez yeeeea boii" class="square-image" />
                        <button type="submit" class="btn btn-sm btn-danger delete-button" onclick="deleteMeme(this)" data-meme-id="${id}">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            `
            $('#submitted-memes-container').append(element);
            actualLength = memes.length + 1;
        }

        $('#your-memes').text(`You have submitted ${actualLength} meme${actualLength == 1 ? '' : 's'}`);
    }

    // delete meme via AJAX
    function deleteMeme(button) {
        var deleteCheck = 'Are you sure you want to delete that meme?'
        if (Math.random() < 0.01) {
            deleteCheck = "Try uploading the right image next time"
        }
        if (!confirm(deleteCheck)) {
            return
        }

        const memeId = $(button).data('meme-id');
        $.ajax({
            url: `/api/meme/${memeId}`,
            type: "DELETE",
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrfToken);
            },
            success: function (response) {
                // Load submitted memes
                showSnackbar('Meme deleted', 'success')
                memeDeleted(memeId);
            },
            error: function (xhr, status, error) {
                if (xhr.status === 403) {
                    showSnackbar(xhr.responseJSON.detail, 'danger')
                } else {
                    showSnackbar('Unable to delete meme', 'danger')
                }
            }
        });
    }

    // remove the delete meme from the page
    function memeDeleted(memeId) {
        var memes = $("#submitted-memes-container").find('.item');
        if (memes.length <= 2) {
            $('#carousel-controls').css('display', 'none')
        }
        const carousel = $('#submitted-memes-container')

        carousel.find(`[id="meme-${memeId}"]`).remove()
        var next = carousel.find('.item').first();
        next.addClass('active');
        var actualLength = memes.length - 1;
        $('#your-memes').text(`You have submitted ${actualLength} meme${actualLength == 1 ? '' : 's'}`);

    }

</script>