
<div id="comp-timer" class="col-lg-3 col-12" style="display:none">
    <div class="card shadow">
        <div class="card-header">
            <h2>GET YOUR VOTES IN</h2>
        </div>
        <div class="card-body d-flex justify-content-center">
            <div id="timer-app"></div>
        </div>
    </div>
</div>
<script>
    // Credit: Mateusz Rybczonec

    const FULL_DASH_ARRAY = 283;
    const WARNING_THRESHOLD = 10;
    const ALERT_THRESHOLD = 5;

    const COLOR_CODES = {
    info: {
        color: "green"
    },
    warning: {
        color: "orange",
        threshold: WARNING_THRESHOLD
    },
    alert: {
        color: "red",
        threshold: ALERT_THRESHOLD
    }
    };

    const TIME_LIMIT = "{{time_limit}}";
    let displayedApology = false;
    let timerInterval = null;

    function onTimesUp() {
        clearInterval(timerInterval);
    }

    function startTimer() {
        $('#timer-app').empty();
        let timePassed = 0;
        let timeLeft = TIME_LIMIT;
        let remainingPathColor = COLOR_CODES.info.color;
        const html = `
            <div class="base-timer">
            <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <g class="base-timer__circle">
                <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
                <path
                    id="base-timer-path-remaining"
                    stroke-dasharray="283"
                    class="base-timer__path-remaining ${remainingPathColor}"
                    d="
                    M 50, 50
                    m -45, 0
                    a 45,45 0 1,0 90,0
                    a 45,45 0 1,0 -90,0
                    "
                ></path>
                </g>
            </svg>
            <span id="base-timer-label" class="base-timer__label">${timeLeft}</span>
            </div>
        `
        $('#timer-app').append(html)
        timerInterval = setInterval(() => {
            timePassed = timePassed += 0.5;
            timeLeft = TIME_LIMIT - timePassed;
            document.getElementById("base-timer-label").innerHTML = Math.ceil(timeLeft)
            
            setCircleDasharray(timeLeft);
            setRemainingPathColor(timeLeft);
            if (timeLeft === 0.5) {
                $('.vote-radio').prop('disabled', true)
                setTimeout(function() {
                    // for sanity, re-enable all the voting buttons, 
                    // and switch out the timer for the info card
                    // 3 seconds after the timer ends.
                    // stability is not what this app is known for
                    $(".vote-radio").prop("disabled", false);

                    if($('#comp-timer').is(':visible') && !displayedApology) {
                        showSnackbar('Meme Competitions Inc. would like to apologize for the fuck up involving the timer. We promise to have further issues in the future', 'primary', 15000)
                        displayedApology = true
                    }
                    $('#comp-timer').css('display','none')
                    $('#comp-info-card').css('display', '')
                }, 3000);
            }
            if (timeLeft === 0) {
                onTimesUp();
            }
        }, 500);
    }

    function setRemainingPathColor(timeLeft) {
        const { alert, warning, info } = COLOR_CODES;
        if (timeLeft <= alert.threshold) {
            document
            .getElementById("base-timer-path-remaining")
            .classList.remove(warning.color);
            document
            .getElementById("base-timer-path-remaining")
            .classList.add(alert.color);
        } else if (timeLeft <= warning.threshold) {
            document
            .getElementById("base-timer-path-remaining")
            .classList.remove(info.color);
            document
            .getElementById("base-timer-path-remaining")
            .classList.add(warning.color);
        }
    }

    function calculateTimeFraction(timeLeft) {
        const rawTimeFraction = timeLeft / TIME_LIMIT;
        return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
    }

    function setCircleDasharray(timeLeft) {
        const circleDasharray = `${(
            calculateTimeFraction(timeLeft) * FULL_DASH_ARRAY
        ).toFixed(0)} 283`;
        document
            .getElementById("base-timer-path-remaining")
            .setAttribute("stroke-dasharray", circleDasharray);
    }
</script>

<style>
    #comp-timer {
        font-family: sans-serif;
        display: grid;
        place-items: top;
        height: fit-content;
      }
      
      .base-timer {
        position: relative;
        width: 200px;
        height: 200px;
      }
      
      .base-timer__svg {
        transform: scaleX(-1);
      }
      
      .base-timer__circle {
        fill: none;
        stroke: none;
      }
      
      .base-timer__path-elapsed {
        stroke-width: 7px;
        stroke: grey;
      }
      
      .base-timer__path-remaining {
        stroke-width: 7px;
        stroke-linecap: round;
        transform: rotate(90deg);
        transform-origin: center;
        transition: 1s linear all;
        fill-rule: nonzero;
        stroke: currentColor;
      }
      
      .base-timer__path-remaining.green {
        color: rgb(65, 184, 131);
      }
      
      .base-timer__path-remaining.orange {
        color: orange;
      }
      
      .base-timer__path-remaining.red {
        color: red;
      }
      
      .base-timer__label {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 48px;
      }
</style>