
<div id="fill-container"{% if not timer_enabled %}style="display:none"{% endif %}>
    <div id="fill-div"></div>
</div>


<script>
    var barTimeout;
    
    function startTimer() {
        const timeoutSecs = "{{timeout}}";
        const barDiv = $("#fill-div");
        barDiv.stop(true, true);        
        barDiv.css({
            'background-color':'#003cb3',
        });
        barDiv.animate({ width: '100%' }, {
            duration: timeoutSecs * 1000,
            easing: 'linear',
            complete: function () {
                barDiv.css({
                    'width': '0px',
                    'background-color': '#003cb3',
                });
                barTimeout = 0;
            }
        });
    }
</script>

<style>
    #fill-div {
        width: 0px;
        height: 10px;
        background-color: 'white';
        border: none;
        position: relative;
        overflow: hidden;
    }
    #fill-container {
        background-color:white;
    }
</style>
