{% extends "base.html" %}
{% block content %}
<div id="snackbar"></div>
<div class="row text-center g-0">
	<!-- TOP CARD (competition details/owner controls) -->
	<div class="col-lg-3 col-12 card text-center m-2"
			style="height:fit-content">
		<div class="card-header">
			<h2>{{ competition.theme }}</h2>
			<small class="card-title">Hosted by {{ competition.owner }}</small>
		</div>
		<div class="card-body">
			<div class="row mb-2">
				<div class="input-group" style="z-index:0">
					<input id="room-url"
							type="text"
							class="form-control"
							value="Competition ID: {{ competition.name }}"
							disabled>
					<button class="btn btn-primary" onclick="copyLink()">Copy</button>
				</div>
			</div>
			<div class="row">
				<p id="num_memes">
					{{ competition.num_memes }} meme{{ competition.num_memes|pluralize }} submitted by {{ competition.num_uploaders }} {{ competition.num_uploaders|pluralize:'person,people' }}
				</p>
			</div>
			<div class="row">
				<button class="btn btn-light btn-sm d-flex mr-3 ml-3 justify-content-center"
						type="button"
						onclick="toggleShowParticipants()">
					Participants &nbsp;<span id="num-participants">({{ competition.num_participants }})</span>
				</button>
				<div class="overflow-auto participants-box p-1" style="max-height: 200px;">
					<ul id="participants" class="list-group">
						{% for participant in competition.participants.all %}
							<li class="list-group-item">{{ participant.name }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="row text-center">
				{% if request.user == competition.owner %}
					<div class="d-flex justify-content-between my-3">
						<button id="start-comp-btn"
								class="btn btn-success"
								style="width:100%"
								onclick="startCompetition()"
								{% if competition.started %}disabled{% endif %}>
							{% if competition.started %}
								Competition started
							{% else %}
								Start Competition
							{% endif %}
						</button>
						<button id="cancel-comp-btn"
								class="btn btn-danger"
								onclick="cancelCompetition()"
								{% if not competition.started %}disabled{% endif %}>
							<i class="bi bi-x-square"></i>
						</button>
					</div>
					<p>
						<button id="next-meme-btn"
								class="btn btn-primary mx-auto col-6"
								onclick="advanceCompetition()"
								{% if not competition.started or competition.finished %}style="display:none"{% endif %}>
							Next meme
						</button>
					</p>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- COMPETITION FINISHED (winning memes) -->
	<div id="comp-finished"
			class="col row g-0 m-2"
			{% if not competition.finished %}style="display:none"{% endif %}>
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<h2>Competition Results</h2>
				</div>
			</div>
			<div id="winning-memes" class="overflow-auto card-body row" style="max-height:400px">
				{% for meme in top_memes %}
					<div class="col-lg-4 col-12 mb-2">
						<div class="meme-item card">
							<div class="card-header">
								<h5 class="card-title">{{ meme.participant }}</h5>
								<h6 class="card-subtitle mb-2 text-muted">Score: {{ meme.score }}</h6>
							</div>
							<div class="card-body">
								<img src="/competition/{{ competition.name }}/memes/{{ meme.id }}"
										alt="Meme Image"
										class="card-img-top">
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- COMPETITION VOTING (display current meme) -->
	<div id="comp-started" class="col text-center m-2" {% if not competition.started or not competition.current_meme %}style="display:none"{% endif %}>
		<div class="vote-container">
			<div class="card" style="width:100%">
				<div class="card-header">
					Total votes: <span id="num_votes">{{ competition.current_meme.num_votes }}</span>
					<div class="pt-2 card-title d-flex align-items-center justify-content-center">
						<form id="vote-form">
							<div class="form-check form-check-inline">
								<input class="form-check-input vote-radio"
										type="radio"
										name="vote"
										id="vote-option1"
										value="1">
								<label class="form-check-label vote-label" for="vote-option1">1</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input vote-radio"
										type="radio"
										name="vote"
										id="vote-option2"
										value="2">
								<label class="form-check-label vote-label" for="vote-option2">2</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input vote-radio"
										type="radio"
										name="vote"
										id="vote-option3"
										value="3">
								<label class="form-check-label vote-label" for="vote-option3">3</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input vote-radio"
										type="radio"
										name="vote"
										id="vote-option4"
										value="4">
								<label class="form-check-label vote-label" for="vote-option4">4</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input vote-radio"
										type="radio"
										name="vote"
										id="vote-option5"
										value="5">
								<label class="form-check-label vote-label" for="vote-option5">5</label>
							</div>
						</form>
					</div>
				</div>
				<div class="card-body g-0">
					<img id="current-meme-image"
							src="/competition/{{ competition.name }}/memes/{{ competition.current_meme.id }}"
							alt="Current Meme"
							class="current-meme" />
				</div>
			</div>
		</div>
	</div>
	<!-- COMPETITION WAITING (upload memes, uploaded carousel) -->
	<div id="comp-waiting"
			class="col m-2"
			{% if competition.started or competition.finished %}style="display:none"{% endif %}>
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Memes</h4>
			</div>
			<div class="row mt-2 px-2">
				<h5 class="card-title">Submit a meme</h5>
				<form id="upload-form" enctype="multipart/form-data" onchange="submitMeme()">
					{% csrf_token %}
					<div class="mb-3 row g-0">
						<div class="col mb-2">
							<input type="file" name="image" class="form-control" id="image" />
						</div>
						<div class="col-12 col-lg-1">
							<button style="width:100%" class="btn btn-block btn-primary" type="submit">Submit</button>
						</div>
						<input type="hidden" name="participant" value="{{ participant.id }}">
						<input type="hidden" name="competition" value="{{ competition.id }}">
					</div>
					
				</form>
			</div>
			<div class="card-body">
				<div id="carouselExample"
						class="carousel slide carousel-fade"
						data-bs-ride="carousel"
						data-bs-interval="false">
					<div class="carousel-inner" id="submitted-memes-container">
						{% for meme in participant.memes.all %}
							<div id="meme-{{ meme.id }}"
									class="item carousel-item {% if forloop.first %}active{% endif %}">
								<div class="card image-card">
									<div class="image-container">
										<img src="{% url 'serve_file' competition.name meme.id %}"
												alt="{{ meme.title }}"
												class="card-img-top square-image d-block" />
										<button type="submit"
												class="btn btn-sm btn-danger delete-button"
												onclick="deleteMeme(this)"
												data-meme-id="{{ meme.id }}">Delete</button>
									</div>
								</div>
								
							</div>
						{% endfor %}
					</div>
					<div id="carousel-controls"
							{% if participant.num_memes == 1 %}style="display:none"{% endif %}>
						<button style="background-color:black"
								class="carousel-control-prev"
								type="button"
								data-bs-target="#carouselExample"
								data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button style="background-color:black"
								class="carousel-control-next"
								type="button"
								data-bs-target="#carouselExample"
								data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item-next.carousel-item-right,
.carousel-fade .carousel-item-prev.carousel-item-left {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active.carousel-item-left,
.carousel-fade .carousel-item.active.carousel-item-right {
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control-prev,
.carousel-fade .carousel-control-next {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-fade:hover .carousel-control-prev,
.carousel-fade:hover .carousel-control-next {
  opacity: 1;
}

</style>
<script>
	$(document).ready(function() {
		$('#carouselExample').on('slide.bs.carousel', function (e) {
			var $e = $(e.relatedTarget);
			var idx = $e.index();
			var itemsPerSlide = 1;
			var totalItems = $('.carousel-item').length;
	
			if (idx >= totalItems - (itemsPerSlide - 1)) {
				var it = itemsPerSlide - (totalItems - idx);
				for (var i = 0; i < it; i++) {
					if (e.direction == "left") {
						$('.carousel-item').eq(i).appendTo('.carousel-inner');
					}
					else {
						$('.carousel-item').eq(0).appendTo('.carousel-inner');
					}
				}
			}
		});
	});

	function toggleShowParticipants() {
		const box = $('.participants-box');
		if(box.hasClass('collapse')) {
			box.removeClass('collapse')
		} else {
			box.addClass('collapse')
		}
	}
	var snackbarTimeout;
	var prevColour;
	function showSnackbar(message, colour) {
		var snackbar = $("#snackbar");
		if (snackbarTimeout) {
			clearTimeout(snackbarTimeout);
			snackbarTimeout = null;
			snackbar.removeClass("show");
		}
		if (prevColour !== colour) {
			snackbar.removeClass(`btn-${prevColour}`)
			prevColour = null;
		}
	
		snackbar.text(message);
		snackbar.addClass(`btn-${colour}`)
	
		prevColour = colour;
		snackbar.addClass("show");

		snackbarTimeout = setTimeout(function() {
			snackbar.removeClass("show");
		}, 2000); // Adjust the timeout duration as needed
	}

	const csrfToken = "{{csrf_token}}";

	function copyLink() {
		// Get the text field
		var compLink = "{{ request.get_host }}{% url 'competition' competition.name %}";
		navigator.clipboard.writeText(compLink)
		console.log('copied', compLink)

		// Copy the text inside the text field
		// Alert the copied text
		showSnackbar("Competition URL has been copied", 'primary');
	}

	// Start competition via AJAX
	function startCompetition() {
		$.ajax({
			url: "{% url 'start_competition' competition.name %}",
			type: "POST",
			data: {},
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
				// Handle success response
				// Update necessary elements
				$('#start-comp-btn').attr('disabled', true);
				$('#cancel-comp-btn').attr('disabled', false);
				$('#start-comp-btn').text('Competition started');
				$("#next-meme-btn").css('display', 'inline');
			},
			error: function (xhr, status, error) {
				showSnackbar(xhr.responseJSON.detail, 'danger')
			}
		});
	}

	// restart the competition via AJAX
	function cancelCompetition() {
		var cancelCheck = 'Are you sure you want to cancel the competition? This will erase all votes.'
		if(Math.random() < 0.01) {
			cancelCheck = "Go ahead, cancel it. See if I care. I'm gonna delete all your votes if you do"
		}
		if(!confirm(cancelCheck)) {
			return
		}
		$.ajax({
			url: "{% url 'cancel_competition' competition.name %}",
			type: "POST",
			data: {},
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
				// Handle success response
				// Update necessary elements
				$('#start-comp-btn').attr('disabled', false);
				$('#cancel-comp-btn').attr('disabled', true);
				$('#start-comp-btn').text('Start Competition');
				$("#next-meme-btn").css('display', 'none');

			},
			error: function (xhr, status, error) {
				showSnackbar('Unable to cancel competition', 'danger');
			}
		});
	}

	// load next meme via AJAX
	function advanceCompetition() {
		$.ajax({
			url: "{% url 'advance_competition' competition.name %}",
			type: "POST",
			data: {},
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
			},
			error: function (xhr, status, error) {
				showSnackbar('Unable to advance competition', 'danger');
			}
		});
	}

	// Submit meme via AJAX
	function submitMeme() {
		var form = document.getElementById("upload-form");
		var formData = new FormData(form);

		$.ajax({
			url: "{% url 'meme_upload' comp_name=competition.name %}",
			type: "POST",
			data: formData,
			processData: false,
			contentType: false,
			success: function (response) {
				// Handle success response
				// Clear the input field
				$('#image').val('');
				// Load submitted memes
				if(Math.random() < 0.01) {
					showSnackbar("lol that's a good one", "success");
				} else {
					showSnackbar('Meme uploaded', 'success');
				}
				memeSubmitted(response.id);
			},
			error: function (xhr, status, error) {
				if(xhr.status === 403) {
					showSnackbar(xhr.responseJSON.detail, 'danger')
				} else {
					showSnackbar('Error uploading your meme :(', 'danger')
				}
			}
		});
	}

	// load the submitted meme onto the page
	function memeSubmitted(id) {
		var memes = $("#submitted-memes-container").find('.item');
		if(memes.length >= 1) {
			$('#carousel-controls').css('display', 'inline')
		}
		var current = $("#submitted-memes-container").find('.active').first();
		current.removeClass('active');
		element = `
			<div id="meme-${id}" class="item carousel-item active">
				<div class="card image-card">
					<div class="image-container">
						<img src="/competition/{{competition.name}}/memes/${id}" alt="Dank memez yeeeea boii" class="card-img-top square-image" />
						<button type="submit" class="btn btn-sm btn-danger delete-button" onclick="deleteMeme(this)" data-meme-id="${id}">
							Delete
						</button>
					</div>
				</div>
			</div>
			`
		$('#submitted-memes-container').append(element);

	}

	// delete meme via AJAX
	function deleteMeme(button) {
		var deleteCheck = 'Are you sure you want to delete that meme?'
		if(Math.random() < 0.01) {
			deleteCheck = "Try uploading the right image next time"
		}
		if(!confirm(deleteCheck)) {
			return
		}

		const memeId = $(button).data('meme-id');
		$.ajax({
			url: `/api/meme/${memeId}`,
			type: "DELETE",
			processData: false,
			contentType: false,
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
				// Load submitted memes
				showSnackbar('Meme deleted', 'success')
				memeDeleted(memeId);
			},
			error: function (xhr, status, error) {
				if(xhr.status === 403) {
					showSnackbar(xhr.responseJSON.detail, 'danger')
				} else {
					showSnackbar('Unable to delete meme', 'danger')
				}
			}
		});
	}

	// remove the delete meme from the page
	function memeDeleted(memeId) {
		var memes = $("#submitted-memes-container").find('.item');
		if(memes.length <= 2) {
			$('#carousel-controls').css('display', 'none')
		}
		const carousel = $('#submitted-memes-container')

		carousel.find(`[id="meme-${memeId}"]`).remove()
		var next = carousel.find('.item').first();
		next.addClass('active');
	}

	// submit vote via AJAX
	function submitVote() {
		// Get the selected vote option
		var selectedOption = document.querySelector('input[name="vote"]:checked').value;
		// Prepare the data to be sent in the AJAX request
		var formData = new FormData();
		formData.append('vote', selectedOption);
		
		$.ajax({
			url: `/api/competition/{{competition.name}}/vote`,
			type: "POST",
			data: formData,
			processData: false,
			contentType: false,
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
				if(Math.random() < 0.01 && selectedOption == 1) {
					showSnackbar("A ONE!? That's harsh even for you", 'warning');
				} else if(Math.random() < 0.01 && selectedOption == 5) {
					showSnackbar("You really think THAT deserves a FIVE!? Okay, whatever you say...", "warning");
				} else {
					showSnackbar('Vote submitted', 'success')
				}
			},
			error: function (xhr, status, error) {
				if(xhr.status === 403) {
					showSnackbar(xhr.responseJSON.detail, 'danger')
				} else {
					showSnackbar('Unable to submit vote', 'danger')
				}
			}
		});
	}

	
	$('#upload-form').on('submit', function (event) {
		event.preventDefault();
		submitMeme();
	});

	$('input[type=radio][name=vote]').on('change', function() {
		const memeId = $(this).data('meme-id');
		submitVote(memeId);
	});


	// ------------------------ WEB SOCKETS -----------------------------------	
	// Open websocket connection
	var socket = null; // Declare the socket variable outside the function
	function connectWebSocket() {
		socket = new WebSocket(

			"{{websocket_scheme}}://" +
			window.location.host +
			"/{{websocket_scheme}}/competitions/{{ competition.name }}/"
		);

		socket.onopen = function (event) {
			console.log("Websocket connection opened.");
		};

		// Handle received messages
		socket.onmessage = function (event) {
			var message = JSON.parse(event.data);
			console.log(message);
			var command = message.command;
	
			if (command === "user_joined") {
				var participantName = message.data.name;
				const numParticipants = message.data.num_participants
				var participantList = $("#participants");
				if (
					participantList.find("li:contains('" + participantName + "')")
						.length === 0
				) {
					participantList.append(
						`<li class='list-group-item'>${participantName}</li>`
					);
				}
				$('#num-participants').text(`(${numParticipants})`);

				if(Math.random() < 0.05) {
					showSnackbar(`Oh look, ${participantName} is here!`, 'success')
				} else if (Math.random() < 0.05) {
					showSnackbar(`Look who showed up, it's ${participantName}`, 'success')
				} else if (Math.random() < 0.05) {
					showSnackbar(`A wizard is never late, ${participantName} arrives precisely when they mean to`)
				} else {
					showSnackbar(`${participantName} joined`, 'success');
				}
			} else if (command === "meme_uploaded") {
				const num_uploaders = message.data.num_uploaders;
				const num_memes = message.data.num_memes;
				const text = `${num_memes} meme${num_memes != 1 ? 's':''} submitted by ${num_uploaders} ${num_uploaders != 1 ? 'people':'person'}`
				$("#num_memes").text(text);

			} else if (command === "competition_cancelled") {
				$("#comp-started").css('display', 'none')
				$("#comp-finished").css('display', 'none')
				$("#comp-waiting").css('display', 'inline')
				$("#current-meme-image").attr('src', '')
				$('input[name="vote"]').prop('checked', false);
				$("#num_votes").text('0');
				showSnackbar('Competition cancelled', 'info');

			} else if (command === "next_meme") {
				const memeId = message.data.id;
				const memeCtr = message.data.ctr;
				const numMemes = message.data.num_memes
				$("#comp-started").css('display', '')
				$("#comp-waiting").css('display', 'none')
				$('input[name="vote"]').prop('checked', false);
				$("#num_votes").text('0');
				$("#current-meme-image").attr('src', `/competition/{{competition.name}}/memes/${memeId}`)
				showSnackbar(`Time to Vote (${memeCtr}/${numMemes})`, 'success');

			} else if (command === "meme_voted") {
				$("#num_votes").text(message.data)
			} else if (command === "competition_results") {
				$("#comp-started").css('display', 'none')
				$("#comp-waiting").css('display', 'none')
				$("#comp-finished").css('display', '')
				$("#next-meme-btn").css('display', 'none');
				showSnackbar('Competition has finished', 'info')

				const results = message.data;
				 // Iterate through the sorted results and generate HTML
				var html = '';

				for (var i = 0; i < results.length; i++) {
				var meme = results[i];
				html += `
					<div class="col-lg-4 col-12">
						<div class="meme-item card">
							<div class="card-header">
								<h5 class="card-title">${ meme.participant }</h5>
								<h6 class="card-subtitle mb-2 text-muted">Score: ${ meme.score }</h6>
							</div>
							<div class="card-body">
								<img src="/competition/{{ competition.name }}/memes/${ meme.id }"
									alt="Meme Image"
									class="card-img-top">
							</div>
						</div>
					</div>
				`;
				}

				// Append the generated HTML to the 'top-memes-container' element
				$('#winning-memes').html(html);
			}
		};

		socket.onclose = function (event) {
			console.log("Websocket connection closed.");

			// Attempt to reconnect after a delay
			setTimeout(connectWebSocket, 2000); // Adjust the delay as needed
		};

		socket.onerror = function (error) {
			console.error("Websocket error:", error);
		};
	}

	
	// Call the connectWebSocket function to establish the initial WebSocket connection
	connectWebSocket();
	
</script>
{% endblock content %}
