{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="card text-center">
		<div class="card-header">
			<h2>{{ competition.theme }}</h2>
			<small class="card-title">A meme competition by {{ competition.owner }}</small>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<p class="card-text">
						Memes submitted: <span id="num_memes">{{ competition.memes.count }}</span>
					</p>
				</div>
				<div class="col-md-4 col-sm-12 text-center">
					<button type="button" class="btn btn-success mb-4" onclick="copyLink()">Copy invite link</button>
					{% if request.user == competition.owner %}
					<p>
						<button id="start-comp-btn" class="btn btn-warning" onclick=startCompetition() {% if competition.started %}disabled{% endif %}>
							{% if competition.started %}
							Competition started
							{% else %}
							Start Competition
							{% endif %}
						</button>
						<button id="cancel-comp-btn" class="btn btn-danger" onclick="cancelCompetition()" {% if not competition.started %}disabled{% endif %}>
							<i class="bi bi-x-square"></i>
						</button>
					</p>
					{% endif %}
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="card-body">
						<div class="overflow-auto" style="max-height: 200px;">
							<ul id="participants" class="list-group">
								{% for participant in competition.participants.all %}
								<li class="list-group-item">{{ participant.name }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
</div>
<div class="mt-3 row text-center">
	<div id="comp-finished" class="col row" {% if not competition.finished %} style="display:none" {% endif %} >
		{% for meme in top_memes %}
		<div class="col-4">
			<div class="meme-item card">
				<div class="card-header">
					<h5 class="card-title">{{meme.participant}}</h5>
					<h6 class="card-subtitle mb-2 text-muted">Score: {{meme.score}}</h6>
				</div>
				<div class="card-body">
					<img src="/competition/{{competition.name}}/memes/{{meme.id}}" alt="Meme Image" class="card-img-top">
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div id="comp-started" class="col text-center" {% if not competition.started or not competition.current_meme %} style="display:none" {% endif %} >
		<div class="vote-container">
			<div class="card">
				<div class="card-header">
					<button class="btn btn-primary" onclick="advanceCompetition()">Next meme</button>
					Votes submitted: <span id="num_votes">{{competition.current_meme.num_votes}}</span>
				</div>

				<div class="pt-2 card-title d-flex align-items-center justify-content-center">
					<form id="vote-form">
						<div class="form-check form-check-inline">
							<input class="form-check-input vote-radio" type="radio" name="vote" id="vote-option1" value="1">
							<label class="form-check-label vote-label" for="vote-option1">1</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input vote-radio" type="radio" name="vote" id="vote-option2" value="2">
							<label class="form-check-label vote-label" for="vote-option2">2</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input vote-radio" type="radio" name="vote" id="vote-option3" value="3">
							<label class="form-check-label vote-label" for="vote-option3">3</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input vote-radio" type="radio" name="vote" id="vote-option4" value="4">
							<label class="form-check-label vote-label" for="vote-option4">4</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input vote-radio" type="radio" name="vote" id="vote-option5" value="5">
							<label class="form-check-label vote-label" for="vote-option5">5</label>
						</div>
					</form>
				</div>
				<div class="card-body g-0">
					<img id="current-meme-image" src="/competition/{{competition.name}}/memes/{{competition.current_meme.id}}" alt="Current Meme" class="current-meme" />
				</div>
			</div>
		</div>
	</div>
	<div id="comp-waiting" class="col" {% if competition.started or competition.finished %} style="display:none" {% endif %}>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Submit a meme</h5>
				<form id="upload-form" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="mb-3">
						<input type="file" name="image" class="form-control" id="image" />
						<input type="hidden" name="participant" value="{{ participant.id }}">
						<input type="hidden" name="competition" value="{{ competition.id }}">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
		<div class="card mt-3">
			<div class="card-body">
				<h5 class="card-title">Your submitted memes</h5>
				<div class="row row-cols-1 row-cols-md-2 g-3" id="submitted-memes-container">
					{% for meme in participant.memes.all %}
					<div class="col" id="meme-{{meme.id}}">
						<div class="card">
							<div class="image-container">
								<img src="{% url 'serve_file' competition.name meme.id %}" alt="{{ meme.title }}"
									class="card-img-top square-image" />
								<button type="submit" class="btn delete-button" onclick="deleteMeme(this)"
									data-meme-id="{{ meme.id }}">
									<i class="bi bi-x-square" style="color:red"></i>
								</button>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.image-container {
		position: relative;
		width: 100%;
		padding-bottom: 100%;

		/* Creates a square aspect ratio */
		.btn {
			background-color: transparent;
		}
	}

	.square-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		background-color: black;
	}
	.current-meme {
		width: 100%;
		height: auto;
		max-width: 500px; /* Adjust the maximum width as needed */
		margin: 0 auto; /* Center the image horizontally */
	}
	.delete-button {
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 1;
	}

	.bi-x {
		color: red;
		font-size: 1.5rem;
	}

	.vote-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.vote-radio {
		display: none;
	}

	.vote-label {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: lightgray;
		color: black;
		font-size: 20px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	.vote-label:hover {
		background-color: lightgray;
	}

	.vote-radio:checked+.vote-label {
		background-color: #007bff;
		color: white;
	}
</style>
<!-- ajax -->
<script>
	const csrfToken = "{{csrf_token}}";

	// Copy invite link
	function copyLink() {
		// Implement copy link logic here
	}

	// Start competition
	function startCompetition() {
		$.ajax({
			url: "{% url 'start_competition' competition.name %}",
			type: "POST",
			data: {},
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
				// Handle success response
				// Update necessary elements
				$('#start-comp-btn').attr('disabled', true);
				$('#cancel-comp-btn').attr('disabled', false);
				$('#start-comp-btn').text('Competition started');
			},
			error: function (xhr, status, error) {
				// Handle error response
				console.error(xhr.responseText);
			}
		});
	}

	function cancelCompetition() {
		$.ajax({
			url: "{% url 'cancel_competition' competition.name %}",
			type: "POST",
			data: {},
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
				// Handle success response
				// Update necessary elements
				$('#start-comp-btn').attr('disabled', false);
				$('#cancel-comp-btn').attr('disabled', true);
				$('#start-comp-btn').text('Start Competition');
			},
			error: function (xhr, status, error) {
				// Handle error response
				console.error(xhr.responseText);
			}
		});
	}

	function advanceCompetition() {
		$.ajax({
			url: "{% url 'advance_competition' competition.name %}",
			type: "POST",
			data: {},
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
				console.log(response)
			},
			error: function (xhr, status, error) {
				// Handle error response
				console.error(xhr.responseText);
			}
		});
	}

	// Submit meme via AJAX
	function submitMeme() {
		var form = document.getElementById("upload-form");
		var formData = new FormData(form);

		$.ajax({
			url: "{% url 'meme_upload' comp_name=competition.name %}",
			type: "POST",
			data: formData,
			processData: false,
			contentType: false,
			success: function (response) {
				// Handle success response
				// Clear the input field
				$('#image').val('');
				console.log(response)
				// Load submitted memes
				memeSubmitted(response.id);
			},
			error: function (xhr, status, error) {
				// Handle error response
				console.error(xhr.responseText);
			}
		});
	}

	function deleteMeme(button) {
		const memeId = $(button).data('meme-id');
		$.ajax({
			url: `/api/meme/${memeId}`,
			type: "DELETE",
			processData: false,
			contentType: false,
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
				// Load submitted memes
				memeDeleted(memeId);
			},
			error: function (xhr, status, error) {
				// Handle error response
				console.error(xhr.responseText);
			}
		});
	}
	// Submit vote via AJAX
	function submitVote() {

		// Get the selected vote option
		var selectedOption = document.querySelector('input[name="vote"]:checked').value;
		console.log(selectedOption)
		// Prepare the data to be sent in the AJAX request
		var formData = new FormData();
		formData.append('vote', selectedOption);
		
		$.ajax({
			url: `/api/competition/{{competition.name}}/vote`,
			type: "POST",
			data: formData,
			processData: false,
			contentType: false,
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRFToken", csrfToken);
			},
			success: function (response) {
				console.log(response)
				// Handle success response
				// Update the UI or perform any other necessary actions
			},
			error: function (xhr, status, error) {
				// Handle error response
				console.error(xhr.responseText);
			}
		});
	}

	function memeSubmitted(id) {
		element = `
			<div class="col" id="meme-${id}">
				<div class="card">
					<div class="image-container">
						<img src="/competition/{{competition.name}}/memes/${id}"
							alt="Dank meme"
							class="card-img-top square-image" />
						<button type="submit"
								class="btn delete-button"
								data-meme-id="${id}"
								onclick="deleteMeme(this)">
							<i class="bi bi-x-square" style="color:red"></i>
						</button>
					</div>
				</div>
			</div>
			`
		$('#submitted-memes-container').append(element);

	}

	function memeDeleted(memeId) {
		$('#submitted-memes-container').find(`[id="meme-${memeId}"]`).remove()
	}

	// Listen for the submit event of the upload form
	$('#upload-form').on('submit', function (event) {
		event.preventDefault();
		submitMeme();
	});

	$('input[type=radio][name=vote]').on('change', function() {
		const memeId = $(this).data('meme-id');
		submitVote(memeId);
	});
</script>

<!-- web sockets-->
<script>
	// Open websocket connection
	var socket = null; // Declare the socket variable outside the function

	function connectWebSocket() {
		socket = new WebSocket(
			"ws://" +
			window.location.host +
			"/ws/competitions/{{ competition.name }}/"
		);

		socket.onopen = function (event) {
			console.log("Websocket connection opened.");
		};

		// Handle received messages
		socket.onmessage = function (event) {
			var message = JSON.parse(event.data);
			console.log(message);
			var command = message.command;

			if (command === "user_joined") {
				var participantName = message.name;
				var participantList = $("#participants");
				if (
					participantList.find("li:contains('" + participantName + "')")
						.length === 0
				) {
					participantList.append(
						`<li class='list-group-item'>${participantName}</li>`
					);
				}
			} else if (command === "meme_uploaded") {
				$("#num_memes").text(message.data);
			} else if (command === "competition_cancelled") {
				$("#comp-started").css('display', 'none')
				$("#comp-finished").css('display', 'none')
				$("#comp-waiting").css('display', '')
				$("#current-meme-image").attr('src', '')
				$('input[name="vote"]').prop('checked', false);
				$("#num_votes").text('0');

			} else if (command === "next_meme") {
				$("#comp-started").css('display', '')
				$("#comp-waiting").css('display', 'none')
				$('input[name="vote"]').prop('checked', false);
				$("#num_votes").text('0');
				$("#current-meme-image").attr('src', `/competition/{{competition.name}}/memes/${message.data}`)
			} else if (command === "meme_voted") {
				$("#num_votes").text(message.data)
			} else if (command === "competition_results") {
				$("#comp-started").css('display', 'none')
				$("#comp-waiting").css('display', 'none')
				$("#comp-finished").css('display', '')

				const results = message.data;
				 // Iterate through the sorted results and generate HTML
				var html = '';
				for (var i = 0; i < results.length; i++) {
				var meme = results[i];
				html += `
					<div class="col-4">
						<div class="meme-item card">
							<div class="card-header">
								<h5 class="card-title">${meme.participant}</h5>
								<h6 class="card-subtitle mb-2 text-muted">Score: ${meme.score}</h6>
							</div>
							<div class="card-body">
								<img src="/competition/{{competition.name}}/memes/${meme.id}" alt="Meme Image" class="card-img-top">
							</div>
						</div>
					</div>
				`;
				}

				// Append the generated HTML to the 'top-memes-container' element
				$('#comp-finished').html(html);
				console.log(message.data)
			}
		};

		socket.onclose = function (event) {
			console.log("Websocket connection closed.");

			// Attempt to reconnect after a delay
			setTimeout(connectWebSocket, 2000); // Adjust the delay as needed
		};

		socket.onerror = function (error) {
			console.error("Websocket error:", error);
		};
	}

	// Listen for the beforeunload event
	window.addEventListener("beforeunload", function () {
		// Save the WebSocket URL or other connection information to browser storage
		localStorage.setItem(
			"websocket_url",
			"ws://" +
			window.location.host +
			"/ws/competitions/{{ competition.name }}/"
		);
	});

	// Check if the page was reloaded or redirected
	var websocketUrl = localStorage.getItem("websocket_url");
	if (
		(performance.navigation.type === 1 ||
			performance.navigation.type === 0) && websocketUrl
	) {
		console.log("reconnected to websocket");
		// Clear the saved WebSocket URL from browser storage
		localStorage.removeItem("websocket_url");

		// Establish a new WebSocket connection
		connectWebSocket();
	} else {
		// Call the connectWebSocket function to establish the initial WebSocket connection
		connectWebSocket();
	}
</script>
{% endblock content %}