{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Your Competitions</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% if competitions %}
                        {% for competition in competitions %}
                            <li class="list-group-item">
                                <a href="{% url 'competition' competition.name %}">{{ competition.theme }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">You haven't joined any competitions yet.</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
