{% extends "base.html" %}
{% load static %}
{% load competition_tags %}
{% block content %}
<div id="button-div"><button class="btn btn-light emoji-button" onclick="clickButton()">🦀</button></div>
<div id="crabs"></div>
<script>
	const csrfToken = "{{csrf_token}}";
	
	var released = false;
	function clickButton() {
		if(released) {
			showSnackbar("Let the crabs rest {{participant.name}}", "warning")
		} else {

			socket.send(JSON.stringify({
				'command': 'the_button',
				'message': '{{ participant.name}}'
			}));
			$('#button-div').remove()
			released = true;
		}
	}
</script>
<script src="{% static 'js/sockets.js' cache 6004800 %}"></script>
<script src="{% static 'js/ajaxApi.js' cache 6004800 %}"></script>
<script src="{% static 'js/eventTriggers.js' cache 6004800 %}"></script>

<div class="text-center g-0 mb-4">
	<div id="card-container" class="row m-2">
		{% comp_card request.user participant competition %}

		{% comp_waiting participant competition %}

		{% comp_voting competition %}

		{% comp_finished top_meme competition %}
	</div>
</div>




<script>
	$(document).ready(function() {
		var x = getRandomNumber(0, self.innerWidth);
		var y = getRandomNumber(0, self.innerHeight);
		$('#button-div').css('left', x+'px');
		$('#button-div').css('top', y+'px');
		connectWebSocket("{{websocket_scheme}}", "{{competition.name}}")
	})
	function sleep(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}
	async function unleashTheCrabs() {
		numCrabs = Math.random() * 100

		for (i = 0; i < numCrabs; i++) {
			const body = $('#crabs');
			const element = $('<div>', {
				class: 'emoji',
				style: 'display:none'
			}).appendTo(body);

			setRandomMovement(element, '🦀');

			setTimeout(function () {
				element.text('');
				element.css('display', 'none');
				body.remove(element);
			}, 1750);
			await sleep(Math.random() * 200)
		}
	}

	
	
</script>

{% endblock content %}