{% extends "base.html" %}
{% block content %}
<body >

    <div id="imageModal" class="image-modal" style="display:none">
        <img id="zoomedImage" class="modal-content" alt="Zoomed Image">
    </div>
    <div class="card">
        <div class="card-header">
            <div class="d-flex flex-row align-items-center">
            <a href="{% url 'competition' competition.name %}" class="vote-label"><i class="bi bi-arrow-return-left"></i></a>
            <h1 class="d-flex justify-content-center flex-grow-1">{{competition.theme}} Memes</h1>
            </div>
        </div>

        <div class="card-body">
            <div id="meme-grid" class="row mt-3">
                {% for meme in competition.ordered_memes %}
                <div class="col-md-4 col-sm-6 col-12 mb-4"
                    data-score="{{ meme.avg_score }}">
                    <div class="image-card">
                        <div class="image-container">
                            <img 
                                loading="lazy" 
                                src="{% url 'serve_file' meme.competition.name meme.id %}" 
                                alt="A seriously dank meme"
                                class="square-image d-block" 
                            />
                        </div>
                        <!-- Display competition theme and score details on mouseover -->
                        <div class="card-details">
                            <small>Score: {{ meme.avg_score }}</small><br>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
   
    
</body>

<script>
    // Function to handle image card click
function openImageModal(imageSrc) {
    const modal = document.getElementById('imageModal');
    const zoomedImage = document.getElementById('zoomedImage');

    // Set the image source to the clicked image
    zoomedImage.src = imageSrc;

    // Show the modal
    modal.style.display = 'flex';
}

// Function to close the image modal
function closeImageModal() {
    const modal = document.getElementById('imageModal');
    // Hide the modal
    modal.style.display = 'none';
}

// Add click event listeners to image cards
const imageCards = document.querySelectorAll('.image-card');

imageCards.forEach(imageCard => {
    imageCard.addEventListener('click', (e) => {
        e.stopPropagation(); // Prevent the click from propagating to the overlay
        const imageSrc = imageCard.querySelector('img').src;
        openImageModal(imageSrc);
    });
});

// Add click event listener to close modal when clicking anywhere off the modal
const imageModal = document.getElementById('imageModal');
imageModal.addEventListener('click', (e) => {
    closeImageModal();
});
</script>
{% endblock %}