{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center d-flex">
    <div class="col-md-8">
        <h2 class="title-text">Meme Competition</h2>
        <small class="hide">Made you look ;)</small>

    </div>
</div>
<div class="row mt-4 justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#signup" data-toggle="tab">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#login" data-toggle="tab">Log In</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="signup">
                        <form method="post" id="signup-form">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Name</label>
                                <input type="text" class="form-control" id="username" name="username" required />
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required />
                                <input type="hidden" name="next" value="{{ request.GET.next }}" />
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary" form="signup-form">Create User</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="login">
                        <form method="post" action="{% url 'login' %}" id="login-form">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Name</label>
                                <input type="text" class="form-control" id="username" name="username" required />
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required />
                                <input type="hidden" name="next" value="{{ request.GET.next }}" />
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary" form="login-form">Log In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Hide the "join" pane on page load
        $("#login").hide();

        // Add a click event listener to each nav link
        $(".nav-link").click(function () {
            // Get the href of the clicked nav link
            var target = $(this).attr("href");

            // Hide all tab panes
            $(".tab-pane").hide();

            // Show the target tab pane
            $(target).show();

            // Add the "active" class to the clicked nav link
            $(".nav-link").removeClass("active");
            $(this).addClass("active");
        });
    });
</script>
{% endblock content %}