{% extends "base.html" %}
{% block content %}
<style>
    .d-flex-center {
        display: flex;
        justify-content: center;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .side-card {
        flex-basis: 30%;
        max-width: 300px; /* Set a maximum width for better responsiveness */
    }

    .main-card {
        flex-basis: 40%;
    }

    .list-group {
        max-height: 250px;
        overflow-y: scroll;
        overflow-x: hidden;
        border-radius: 10px;
    }

    .card-header {
        text-align: center;
    }

    .form-floating {
        color: rgb(49, 49, 49)
    }

    .btn {
        width: 100%;
    }

    .card-header {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    h4 {
        margin-bottom: 0;
    }
    .side-body {
        display:flex;
        flex-direction: column;
        align-items:end;
        justify-content:space-around;
    }

    @media (max-width: 768px) {
        .card-group {
            flex-direction: column;
        }
        .side-card, .main-card {
            flex-basis: 100%; /* Set full width for smaller screens */
            max-width: none; /* Remove max-width for smaller screens */
        }
    }
</style>

<div class="card-container d-flex justify-content-center">
    <div class="card side-card">
        <div class="card-header">
            <h4 style=>Join a Competition</h4>

        </div>
 
        <div class="card-body side-body">
            <div class="card-title d-flex flex-grow-1">
                Ask someone in the competition for the ID and enter it below to join.
             </div>
            <form method="post" name="join" style="width:100%">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" name="name" id="name" class="form-control" required placeholder="123ABC"/>
                    <label for="name">Competition ID</label>

                </div>
                <button type="submit" name="join" class="btn btn-primary">Join</button>
            </form>
        </div>
    </div>

    {% if competitions %}
    <div class="card main-card">
        <div class="card-header">
            <h4>Your Competitions</h4>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for competition in competitions %}
                <li class="list-group-item d-flex justify-content-between">
                    <a href="{% url 'competition' competition.name %}">{{ competition.theme }}</a><small>{{competition.created_at}}</small>                    
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="card side-card">
        <div class="card-header" id="create">
            <h4>Create a Competition</h4>
        </div>
        <div class="card-body side-body">
            <form method="post" name="create" style="width:100%">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" name="theme" id="theme" class="form-control" required placeholder="Airplane Food"/>
                    <label for="theme">Theme</label>
                </div>
                <div class="form-check form-switch mb-3">
                    <label class="form-check-label" for="with_timer">Enable Timed Voting</label>
                    <input class="form-check-input" type="checkbox" name="with_timer" id="with_timer">
                  </div>
                <div class="form-floating mb-3">
                    <input id="{{ form.timer_timeout.id_for_label }}" class="form-control" type="number" min="0" max="60" initial="15" placeholder="15">
                    <label for="{{ form.timer_timeout.id_for_label }}">Voting Time (seconds)</label>
                    
                </div>
                <button type="submit" name="create" class="btn btn-success">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}